p {
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  font-family: Roboto, Arial;
  padding: 0px;
  margin: 0px;
  padding-top: 55px;
  padding-left: 210px;
  height: 1000px;
}

@media (max-width: 1260px) and (min-width: 731px) {
  body {
    padding-left: 75px;
  }
}

@media (max-width: 730px) {
  body {
    padding-left: 0px;
  }
}

