.suggestion-tab {
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  position: fixed;
  top: 55px;
  left: 260px;
  right: 0px;

  background-color: white;
  z-index: 99;
}

.suggestion-button {
  height: 34px;
  font-size: 14px;
  font-weight: 500;
  padding: 0px 12px;
  border: none;
  border-radius: 10px;
  margin-right: 12px;
  white-space: nowrap;
}

.current-suggestion,
.suggestion-button:hover {
  color: white;
  background-color: black;
}

@media (max-width: 1260px) and (min-width: 731px) {
  .suggestion-tab {
    left: 125px;
  }
}

@media (max-width: 730px) {
  .suggestion-tab {
    left: 0px;
    margin-left: 10px;
  }
}