.main-body-section {
  margin-left: 50px;
  padding-top: 90px;
}

.suggestion-tab {
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  position: fixed;
  top: 55px;
  left: 260px;
  right: 0px;

  background-color: white;
  z-index: 100;
}

.suggestion-button {
  height: 36px;
  font-family: Roboto, Arial;
  font-size: 15px;
  padding: 0px 12px;
  border: none;
  border-radius: 10px;
  margin-right: 12px;
}

.current-suggestion,
.suggestion-button:hover {
  color: white;
  background-color: black;
}